.header {    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: bisque;
    border-bottom: 2px solid #125;
}

.header form {
    background-color: bisque;
}

.content {
    margin-top: 170px;
}